{% extends 'guidelinebase.html' %}

{% block head %}
    <title>Guideline</title>
{% endblock %}

{% block body %}
 <br>
<div class="container">

  <div id="accordion">
  <div class="card">
    <div class="card-header" id="headermilestone">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#milestone" aria-expanded="false" aria-controls="collapseTwo">
          <b>শিশুর জন্য করণীয় ধারাবাহিক ধাপ :</b>
        </button>
      </h5>
    </div>
    <div id="milestone" class="collapse" aria-labelledby="headermilestone" data-parent="#accordion">
      <div class="card-body">
        <div class="well">
            <p>একটি শিশুর জন্ম - তা আপনার প্রথম সন্তান বা আপনার চতুর্থ সন্তান উভয় ক্ষেত্রেই আনন্দদায়ক! কিন্তু এটি সবসময় সহজ নয়।যদি আপনার বাচ্চা তিন সপ্তাহ আগে জন্ম হয়,তাহলে আপনার বাচ্চা সম্পর্কে আরও প্রশ্ন থাকতে পারে।  কিভাবে বাচ্চা বেড়ে উঠবে। একটি শিশুর জন্ম - তা আপনার প্রথম সন্তান বা আপনার চতুর্থ সন্তান উভয় ক্ষেত্রেই আনন্দদায়ক! কিন্তু এটি সবসময় সহজ নয়।যদি আপনার বাচ্চা তিন সপ্তাহ আগে জন্ম হয়,তাহলে আপনার বাচ্চা সম্পর্কে আরও প্রশ্ন থাকতে পারে।  কিভাবে বাচ্চা বেড়ে উঠবে। </p>
            <br>
                  <p>আমেরিকান একাডেমী পেডিয়াট্রিকস (এএপি) একটি শিশুর উন্নতির গুরুত্বপূর্ণ মাইলফলকগুলি বা সাফল্যগুলি তালিকাভুক্ত করে, তাই আপনি প্রতিটি বয়সে কী দেখতে পাবেন তা জানেন। এটা মনে রাখা গুরুত্বপূর্ণ যে উন্নয়ন একটি প্রতিযোগিতা নয়। শিশুরা তাদের নিজস্ব গতিতে এবং তাদের নিজস্ব ভাবে গড়ে ওঠে। কিছু শিশু একই সময়ে প্রতিটি মাইলস্টোন পর্যন্ত পৌঁছান না। এই বিশেষত সত্য যদি তারা ৪২ সপ্তাহের আগে জন্ম হয়।</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headeragecalculate">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#agecalculate" aria-expanded="false" aria-controls="collapseThree">
          <b>কি করে  শিশুর বয়স ঠিক করবেন ?</b>
        </button>
      </h5>
    </div>
    <div id="agecalculate" class="collapse" aria-labelledby="headeragecalculate" data-parent="#accordion">
      <div class="card-body">
        <div class="well">
            <p>যদি আপনার বাচ্চা আনুমানিক নির্ধারিত তারিখের আগে জন্ম নিয়ে থাকে, তার ক্যালেন্ডারে চিহ্নিত করার জন্য ২ টি গুরুত্বপূর্ণ দিন রয়েছে। আপনার বাচ্চার জন্মের দিনটি, কিন্তু তার আনুমানিক নির্ধারিত তারিখটিও একটি গুরুত্বপূর্ণ দিন। যখন আপনি আপনার বাচ্চার উন্নয়নের পরিমাপ - অর্থাৎ যখন আপনি আপনার শিশুর বয়সটির "স্বাভাবিক" দিকে তাকান - তখন ঐ দুটি তারিখগুলি বিবেচনা করুন।  প্রথম দুই বছরে, তার সঠিক বয়স ব্যবহার করলে সে আপনাকে একটি ভাল ধারণা দেবে যে কখন সে সাধারণ উন্নয়নমূলক লক্ষ্য অর্জন করতে পারবে।</p>
            <br>
            <p>কি করণীয় : যদি আপনার বাচ্চার বয়স ১৪ সপ্তাহ হয় কিন্তু ৬ সপ্তাহ আগে জন্মগ্রহণ করেন, তাহলে ১৪ থেকে ৬ বিয়োগ করুন। এটি আপনাকে ৮ সপ্তাহ দেয়। আপনি মাইলস্টোন বিভাগে তাকান এই বয়স ব্যবহার করুন। 2 বছর বয়সের মধ্যে, বেশিরভাগ শিশু স্বাভাবিক পরিসরে এসে পড়ে, তখন আপনাকে এই হিসাব করতে হবে না। যদি আপনার সন্তানের স্বাভাবিক পরিসরে না আসে, তখন তাকে দীর্ঘ সময়ের জন্য অতিরিক্ত পর্যবেক্ষণের প্রয়োজন হতে পারে।</p>
            <br>
            <p>অগ্রগতির জন্য দেখুন : সবচেয়ে গুরুত্বপূর্ণ বিষয় নিশ্চিত করুন যে আপনার সন্তান উন্নয়নের দিকে যাচ্ছে।  মনে রাখবেন শিশুরা বিভিন্ন বয়সে নতুন মাইলফলকে  পৌঁছায়। আপনি আপনার সন্তানকে অন্যের চেয়ে ভাল জানেন। যখন আপনি তাকে  ভালোভাবে দেখবেন ,খেয়াল করবেন সে ভালোভাবে বৃদ্ধি পাচ্ছে। আরও সাহায্যের প্রয়োজন হলে আপনি তাও জানতে পারবেন। মনে রাখবেন, আপনাকে সব একা করতে হবে না।  ডাক্তার, শিক্ষক এবং অন্যান্য ব্যক্তিরা আপনাকে সহায়তা করার জন্য আছে। আমরা আশা করি এই ওয়েবসাইট আপনাকে শুরু করার জন্য একটি ভাল তথ্য দেবে।
            </p>
        </div>
      </div>
    </div>
  </div>

    <div class="card">
    <div class="card-header" id="headermilestone1">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#milestone1" aria-expanded="false" aria-controls="collapseTwo">
          <b>২ মাস (৮ সপ্তাহ):</b>
        </button>
      </h5>
    </div>
    <div id="milestone1" class="collapse" aria-labelledby="headermilestone1" data-parent="#accordion">
      <div class="card-body">
        <div class="well">
            <b>পেশী সঞ্চালন:</b> <br> <p>•	 সক্রিয়ভাবে হাত ও পা নাড়ানো</p> <br> <p>• হাত বেশিরভাগ সময় খোলা রাখা</p>
            <br> <p>•	মাথা সামান্য নিয়ন্ত্রণ করতে পারা, কিন্তু এখানেও সমর্থনের প্রয়োজন হতে পারে</p> <br> <p>•	হাতে বস্তু ধরে রাখতে পারা</p>
            <br> <b>ভাষা:</b> <p>•	শব্দের প্রতিক্রিয়া করা</p> <br> <p>• 	যখন কিছু প্ৰয়োজন তখন কান্না করা</p>
            <br> <b>ক্রিয়াকলাপ:</b> <p>•	ব্যক্তি বা বস্তুকে লক্ষ্য করা এবং নড়াচড়া খেয়াল করা</p> <br> <p>•	বিভিন্ন প্রয়োজনে বিভিন্ন রকম কান্না করা</p>
            <br> <b>সামাজিক / মানসিক:</b> <p>•	চোখে চোখ রাখা এবং হাসা</p> <br> <p>•	মাকে চিনতে পারা এবং মায়ের সঙ্গ উপভোগ করা</p>
        </div>
      </div>
    </div>
  </div>

    <div class="card">
    <div class="card-header" id="headermilestone2">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#milestone2" aria-expanded="false" aria-controls="collapseTwo">
          <b>৪ মাস (১৬ সপ্তাহ):</b>
        </button>
      </h5>
    </div>
    <div id="milestone2" class="collapse" aria-labelledby="headermilestone2" data-parent="#accordion">
      <div class="card-body">
        <div class="well">
            <b>পেশী সঞ্চালন:</b> <br> <p>•	বস্তুর জন্য পোঁছানো</p> <br> <p>•	হামাগুড়ি দেওয়া</p>
            <br> <b>ভাষা:</b> <p>•	পরিচিত কণ্ঠ  অনুসরণ করার জন্য মাথা ঘুরানো</p> <br> <p>•	হাসা এবং চিৎকার করা</p>
            <br> <b>ক্রিয়াকলাপ:</b> <p>•	মুখে বস্তু নিতে পারা</p> <br> <p>•	খেলনা দেখে কার্যকলাপ বৃদ্ধি করা</p>
        </div>
      </div>
    </div>
  </div>

    <div class="card">
    <div class="card-header" id="headermilestone3">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#milestone3" aria-expanded="false" aria-controls="collapseTwo">
          <b>৬ মাস (২৪ সপ্তাহ):</b>
        </button>
      </h5>
    </div>
    <div id="milestone3" class="collapse" aria-labelledby="headermilestone3" data-parent="#accordion">
      <div class="card-body">
        <div class="well">
            <b>পেশী সঞ্চালন:</b> <br> <p>•	নিজে নিজে বসতে পারা</p> <br> <p>•	এক হাত থেকে অন্য হাতে বস্তু নিতে পারা</p>
            <br> <p>•	২ টি বস্তু একসাথে ধরে রাখে, পড়তো হাতে একটি করে</p>
            <br> <b>ভাষা:</b> <p>•	নাম ধরে ডাকলে সাড়া দেওয়া এবং ঘুরে তাকানো</p> <br> <p>•	"ডা", "গা", "বা", "কা" এর মত শব্দ করাা</p>
            <br>  <b>ক্রিয়াকলাপ:</b> <p>•	বস্তুর দিকে তাকায় থাকা যা দৃষ্টির বাইরে চলে যায়</p> <br> <p>•	খেলনা কি করছে তা দেখে অনুসরণ করা</p>
        </div>
      </div>
    </div>
  </div>


    <div class="card">
    <div class="card-header" id="headermilestone4">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#milestone4" aria-expanded="false" aria-controls="collapseTwo">
          <b>১২ মাস (১ বছর):</b>
        </button>
      </h5>
    </div>
    <div id="milestone4" class="collapse" aria-labelledby="headermilestone4" data-parent="#accordion">
      <div class="card-body">
        <div class="well">
            <b>পেশী সঞ্চালন:</b> <br> <p>•	একা দাঁড়াতে পারা</p> <br> <p>•	একসাথে বইয়ের কিছু পৃষ্ঠা উল্টানো</p>
            <br> <p>•	পাত্রে ছোট বস্তু রাখা</p>
            <br> <b>ভাষা:</b> <p>•	কিছু করতে না করলে বিরতি বা থেমে যাওয়া</p> <br> <p>•	বার বার এক শব্দ ব্যবহার করে</p>
            <br> <b>ক্রিয়াকলাপ:</b> <p>•	নিজে নিজে খেতে সক্ষম হওয়া</p> <br> <p>•	কাপড় পড়ানোর সময় সাহায্য করা</p>
            <br> <b>সামাজিক / মানসিক:</b> <p>•	পিতা-মাতা ও যত্নশীল ব্যক্তিদের সাথে থাকতে পছন্দ করা</p> <br> <p>•	অন্য বাচ্চাদের সাথে খেলা করা</p>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
{% endblock %}



