{% extends 'homebase.html' %}  <!-- A way to extend the base html template -->
{% load static  %}

{% block head %}
	<title>Homepage</title>
{% endblock %}

{% block body %}

    <!--script-for-menu-->
    <script>
		$("span.menu").click(function(){
			$(" ul.navig").slideToggle("slow" , function(){
			});
		});
	</script>
	    <!--script-for-menu-->

	<!--banner-starts-->
<!--<span>-->
	<!--<div class="banner">-->
		<!--<section class="slider">-->
            <!--<div class="flexslider">-->
                <!--<ul class="slides">-->
					<!--<li>-->
					<!--<div class="banner1">-->
						<!--<div class="container">-->
							<!--<div class="banner-text">-->
								<!--<p>Vivamus id dui et augue</p>-->
								<!--<h3>Caring Baby Sitters For Your Kids</h3>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--</li>-->
					<!--<li>-->
					<!--<div class="banner2">-->
						<!--<div class="container">-->
							<!--<div class="banner-text">-->
								<!--<p>Vivamus id dui et augue</p>-->
								<!--<h3>Caring Baby Sitters For Your Kids</h3>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--</li>-->
					<!--<li>-->
					<!--<div class="banner1">-->
						<!--<div class="container">-->
							<!--<div class="banner-text">-->
								<!--<p>Vivamus id dui et augue</p>-->
								<!--<h3>Caring Baby Sitters For Your Kids</h3>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--</li>-->
					<!--<li>-->
					<!--<div class="banner2">-->
						<!--<div class="container">-->
							<!--<div class="banner-text">-->
								<!--<p>Vivamus id dui et augue</p>-->
								<!--<h3>Donec eu dolor ac erat sodales rutrum</h3>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</div>-->
		<!--</section>-->
	<!--</div>-->
<!--</span>-->
	<!--banner-end-->

	<!--FlexSlider-->
	<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
	<script type="text/javascript">
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
    </script>
	<!--End-slider-script-->

    <!--welcome-->
    <div class="welcome">
        <div class="container">
        <h2>স্বাগতম </h2>
            <div class="col-md-7 welcome-left wow fadeInLeft animated" data-wow-delay=".5s">
                <h5>বাংলাদেশের প্রথম অনলাইন  প্রি-ম্যাচিউর শিশু ভিত্তিক  ওয়েব পোর্টাল এ আপনাকে  স্বাগতম !!!</h5>
                <p>এই ধরণের সেবা সমূহ বাংলাদেশের মত একটি উন্নয়নশীল দেশে খুব সীমিত। তাই  প্রতিটি প্রি-ম্যাচিউর শিশু যেন স্বাভাবিক শিশুর মত বেড়ে উঠতে পারে, তাই এটি আমাদের ছোট্ট প্রচেষ্টা।  </p>
            </div>
            <div class="col-md-5 welcome-right wow fadeInRight animated" data-wow-delay=".5s">
            <h4>চাইল্ড-কেয়ার সেন্টারের সন্ধান করুন</h4>
            <div class="news">
                    <div class="form-group">
                    <form action="#" method="post">
                        <input type="text" name="search" class="form-control" placeholder="সন্ধান করুন">
                        <button type="submit" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
<!--welcome-->

<!--services-->
    <div class="services">
		<div class="container">
			<h3 class="title">সেবা সমূহ </h3>
			<div class="col-md-6 servc-grids wow fadeInLeft animated" data-wow-delay=".5s">
				<div class="servc-grid">
					<div class="col-xs-3 servc-grid-left">
						<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
					</div>
					<div class="col-xs-9 servc-grid-right">
						<a href="/problemandsolution/"><h4>সাধারণ সমস্যার সমাধান</h4></a>
						<p>শিশুর শারীরিক সমস্যার সমাধান গুলো খুঁজে পাবেন। </p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="servc-grid">
					<div class="col-xs-3 servc-grid-left">
						<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
					</div>
					<div class="col-xs-9 servc-grid-right">
						<a href="/guideline/"><h4>সাপ্তাহিক নির্দেশিকা</h4></a>
						<p>শিশুর লালন পালনের প্রয়োজনীয় তথ্যাদি খুঁজে পাবেন । </p>
					</div>
					<div class="clearfix"> </div>
				</div>


			</div>
			<div class="col-md-6 servc-grids1 wow fadeInRight animated" data-wow-delay=".5s">

				<div class="servc-grid">
					<div class="col-xs-3 servc-grid-left">
						<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
					</div>
					<div class="col-xs-9 servc-grid-right">
						<a href="/problemandsolution/"><h4>রোগ সম্পর্কে ধারণা </h4></a>
						<p>সাধারণত শিশুর যে রোগ গুলো হয় সে সম্পর্কে ধারণা পাবেন। </p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="servc-grid">
					<div class="col-xs-3 servc-grid-left">
						<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
					</div>
					<div class="col-xs-9 servc-grid-right">
						<a href="/nearbychildcare/"><h4>পার্শ্ববর্তী চাইল্ড-কেয়ার সেন্টার</h4></a>
						<p>ব্যবহারকারী ম্যাপ ব্যবহার করে তার পার্শ্ববর্তী চাইল্ড কেয়ার সেন্টার খুঁজে পাবেন  । </p>
					</div>
					<div class="clearfix"> </div>
				</div>

			</div>
			<div class="clearfix"> </div>
		</div>
	</div>

<!--services-->
    <div class="events">
		<div class="container">
			<h3>News</h3>
			<p class="fugiat colr">Quis autem vel eum iure reprehenderit qui in ea voluptate velit
				esse quam nihil molestiae consequatur, vel illum qui dolorem eum
				fugiat quo voluptas nulla pariatur</p>
			<div class="events-grid">

				<div class="col-md-4 events-grid-left wow fadeInLeft animated" data-wow-delay=".5s"><a href="singlepage.html">
					<div class="events-grid-left-top">
						<p><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i><span>April 15th 2016 at 11:30 AM</span></p>
					</div>

					<div class="events-pos">
						<p>vel illum qui dolorem eum
							fugiat quo voluptas nulla pariatur</p>
					</div></a>
				</div>
				<div class="col-md-4 events-grid-left animated wow fadeInDown animated animated" data-wow-duration="1200ms" data-wow-delay="500ms">
				<a href="singlepage.html">
					<div class="events-grid-left-top">
						<p><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i><span>April 18th 2016 at 1:30 AM</span></p>
					</div>

					<div class="events-pos">
						<p>vel illum qui dolorem eum
							fugiat quo voluptas nulla pariatur</p>
					</div>
					</a>
				</div>
				<div class="col-md-4 events-grid-left wow fadeInRight animated" data-wow-delay=".5s">
				<a href="singlepage.html">
					<div class="events-grid-left-top">
						<p><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i><span>April 25th 2016 at 1:30 AM</span></p>
					</div>

					<div class="events-pos">
						<p>vel illum qui dolorem eum
							fugiat quo voluptas nulla pariatur</p>
					</div>
					</a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

{% endblock %}
